<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAs3jxqrgHiV2vARv1rRSdyvYYjgzQmhqM</string>
	<key>GCM_SENDER_ID</key>
	<string>775894145094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PRLol.PP51</string>
	<key>PROJECT_ID</key>
	<string>frbspp51</string>
	<key>STORAGE_BUCKET</key>
	<string>frbspp51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775894145094:ios:410f44b4c2f8e2794a9247</string>
</dict>
</plist>